*{
    box-sizing: border-box;
}

#formulario-cadastro{
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}
 label {
    display:block;
    margin-bottom: 5px;
    font-weight: bold;
 }

input [type="text"],
input[type="email"],
input [type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid Dsccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
